/* Content Area
---------------------------------------------------------------------------------------------------- */

/* Entries
--------------------------------------------- */

.entry {
	@include margin-trailer();
}

.entry-content {

	.attachment a,
	.gallery a {
		border: none;
	}

	.read-more {
		display: block;
		float: right;

		a {
			padding: .2em 1em;
			background: #E8E7D5;
			border-radius: 3px;
			box-shadow: 0 1px 2px #DDD;
			border: none;
			float: left;
			margin: 20px 0 20px 2px;
			text-decoration: none;

			&:hover {
				background: #E2DBBF;
				box-shadow: 0 1px 1px #FFF;
				color: #002838;
			}
		}
	}

	ol,
	p,
	ul {
		margin-bottom: 26px;
	}

	ol,
	ul {
		margin-left: 40px;

		&.list-unstyled {
			margin-left: 20px;

			> li {
				list-style: none;
			}
		}
	}

	ol li {
		list-style-type: decimal;
	}

	ul li {
		list-style-type: disc;
	}

	ol ol,
	ul ul {
		margin-bottom: 0;
	}

	.search-form {
		width: 50%;
	}

	a[href$=".png"],
	a[href$=".jpg"],
	a[href$=".gif"],
	a.accordion-title {
		&, &:hover {
			text-decoration: none;
			background-image: none;
		}
	}

	.people-contact-details .people-email a {
		text-decoration: none;
		background-image: none;
	}

}

.archive-description,
.author-box,
.entry,
.entry-footer .entry-meta {
	padding: 0;
}

.quote-caption {
	margin-bottom: 26px;
}

.entry-meta {
	clear: both;
	color: $gray-dark;
	@include adjust-font-size-to(14px);
}

.entry-header .entry-meta {
	margin-bottom: 24px;
}

.entry-title {
	@include break-text();
}

.widget.widget_nav_menu {
	ol, ul {
		padding-left: 1rem;
		list-style-position: outside;
	}
	ol {
		list-style-type: decimal;
	}
	ul {
		list-style: disc;
	}
}

body.posts:not(.search-results) .post {
	clear: both;
	font-size: 0.99em;
	margin-bottom: 23px;
	padding-bottom: 23px;
	.entry-header {
		@include grid-row();
		margin: 0.913em 0;
		.entry-title {
			@include grid-column($columns: 11, $push: 1);
			font: 400 1.2em/1.2em "ff-meta-web-pro";
			a {
				color: #B7A66D;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		.entry-meta {
			@include grid-column($columns: 1, $pull: 11, $collapse: true);
			clear: none;
			margin-bottom: 0;
			padding-top: 5px;
			font: 900 1.1em "quatro-slab", serif;
			text-align: center;
			span {
				display: block;
				line-height: 1.2em;
			}
			.day {
				font-size: 1.8em;
				line-height: 0.75em;
				height: 23px;
			}
		}
	}
	.entry-content {
		@include grid-column($columns: 11, $offset: 1);
		margin-bottom: 1.25em;
		margin-top: 0;
		p {
			line-height: 1.25em;
		}
	}
	img.alignleft {
		margin: 0 15px 5px 0;
	}
	.entry-footer {
		clear: both;
	}
}

/* Entry Navigation
--------------------------------------------- */

.pagination {
	clear: both;
	@include adjust-font-size-to(14px);
	margin: 40px 0;

	li {
		display: inline;
		a {
			cursor: pointer;
			display: inline-block;
			padding: 8px 12px;

			&:hover {
			}
		}

		&.active a {
		}
	}
}

.entry-content a.button {
	@include button($padding: rem-calc(12), $radius: 1.5rem);
	border: 4px solid #E2DEDE;
	box-shadow: 0 1px 0 inset #BE4C4C;
	@include background-image(linear-gradient(#740000, #500000));
	&:hover {
		@include background-image(linear-gradient(#500000, #500000));
	}
	// 1b607b, saturation -101, +110 value
}

/* page-template-landing1
--------------------------------------------- */
.page-template-landing1 {

	.soliloquy-container {
		margin: 0 auto;

		@media #{only screen} and (min-width: #{ 780px }) {
			padding-top: 1em;
		}

		@media #{$large-up} {
			padding-top: 0;
			padding-left: 1em;
		}
	}

	.featured-content {
		margin-bottom: 2em;
	}

	.content {
		padding-right: 0;
		padding-left: 0;
		h2, h3 {
			font-family: $body-font-family;
		}
	}

	.page-title {
		margin-top: 0;
	}

	.welcome {
		margin: 0 0 2em 0;
	}

	.home-content {
		padding-right: 1em;
		padding-left: 1em;

		@media #{$large-up} {
			padding-right: 0;
		}
	}

	.program-head {
		padding: 0 0 0 1em;
	}
	.program-image {
		width: 100%;
	}

	.program-list {
		a {
			text-decoration: underline;
		}

		.program-row {

			@include grid-row();

		}
		.single-program {
			@include grid-column(12);

			@media #{$small-up} {
				@include grid-column(6);
			}

			@media #{$medium-up} {
				@include grid-column(4);
			}

			ul {
				list-style-type: disc;
			}

			ol {
				list-style-type: decimal;
			}
		}

	}

}

/* Link underline customizations */
%underline-default {
	$underline-color: lighten( $anchor-font-color, 75% );
	text-decoration: none;
	@include background-image(linear-gradient(transparent 0, transparent 83%, $underline-color 84%, $underline-color 95%, transparent 96%));
}

%underline-hover {
	$underline-color: lighten( $anchor-font-color, 25% );
	text-decoration: none;
	@include background-image(linear-gradient(transparent 0, transparent 83%, $underline-color 84%, $underline-color 95%, transparent 96%));
}

.entry-header .entry-meta a,
body:not(.page-template-landing1):not(.page-template-landing-aglifesciences) .entry-content a:not(.accordion-title):not(.button):not(.job-listing-link):not(.upcp-catalogue-link):not(.upcp-featherlight):not(.read-more-link):not(.flexible-columns-image-link):not([href$=".jpg"]):not([href$=".png"]):not(.soliloquy-pager-link),
body.page-template-landing1 .home-content a:not(.accordion-title):not(.button):not(.soliloquy-next):not(.soliloquy-prev):not(.soliloquy-pager-link),
body.page-template-landing1 .entry-content ~ *:not(.program-list) a:not(.accordion-title):not(.button):not(.job-listing-link),
body.page-template-landing-aglifesciences .home-content a:not(.accordion-title):not(.button):not([data-filter=".dcsns-facebook"]):not([data-filter=".dcsns-twitter"]):not([data-filter=".dcsns-instagram"]),
.people-listing-item .people-container a,
.post-type-archive-people .people-name a,
.entry-footer a,
.sidebar p a,
.recentcomments a {
	& {
		@extend %underline-default;
	}
	&:hover {
		@extend %underline-hover;
	}
}

.sidebar a:hover {
	@extend %underline-hover;
}

.page-template-flexiblecolumns .site-inner .content {
	header {
		margin-bottom: 1.875rem;
	}

	.row {
		padding-bottom: 1.875rem;

		h3 {
			margin-top: 0;
		}
	}
}

.job-listing-item {
	.job-listing-link {
		text-decoration: none;
	}
}
.job_posting .job-posting-details dd.job-posting-dd {
	word-wrap: break-word;
}

.job-posting-dl {
	dd.job-posting-dd {
		margin-top: -3.19em;
	}
}

@media #{$small-up} {

}

@media #{$small-only} {
	.job-posting-dl {
		dt.job-posting-dt.job-posting-website,
		dt.job-posting-dt.job-posting-description,
		dt.job-posting-dt.job-posting-qualifications {
			line-height: 1.6em;

			&, & + dd {
				padding: 0;
				margin: 0;
			}

			& + dd {
				padding-bottom: 1em;
				margin-bottom: 0.7em;
			}
		}

		dt.job-posting-dt.job-posting-website {
			margin-top: 0.6em;
		}
	}
}

@media #{$medium-up} {

}

@media #{$medium-only} {

}

@media #{$large-up} {

}

@media #{$large-only} {

}

@media #{$xlarge-up} {

}

@media #{$xlarge-only} {

}

@media #{$xxlarge-up} {

}

@media #{$xxlarge-only} {

}
