/* Content Area
---------------------------------------------------------------------------------------------------- */

// Smooth scroll and highlight anchor link targets inside the page content.
html {
	scroll-behavior: smooth;
}

:not(.no-js) .site-inner *[id]:target {
	transition: background-color 1.5s ease-in;
	padding-left: .35em;
	margin-left: -.35em;
	background-color: $yellow;
}

/* Entries
--------------------------------------------- */

.entry {
	@include margin-trailer();
}

.entry-content {

	.attachment a,
	.gallery a {
		border: none;
	}

	.read-more {
		display: block;
		float: right;

		a {
			padding: .2em 1em;
			background: #E8E7D5;
			border-radius: 3px;
			box-shadow: 0 1px 2px #DDD;
			border: none;
			float: left;
			margin: 20px 0 20px 2px;
			text-decoration: none;

			&:hover {
				background: #E2DBBF;
				box-shadow: 0 1px 1px #FFF;
				color: #002838;
			}
		}
	}

	ol,
	p,
	ul {
		margin-bottom: 26px;
	}

	ol,
	ul {
		margin-left: 40px;

		&.list-unstyled {
			margin-left: 20px;

			> li {
				list-style: none;
			}
		}
	}

	ol li {
		list-style-type: decimal;
	}

	ul li {
		list-style-type: disc;
	}

	ol ol,
	ul ul {
		margin-bottom: 0;
	}

	.search-form {
		width: 50%;
	}
}

.archive-description,
.author-box,
.entry,
.entry-footer .entry-meta {
	padding: 0;
}

.quote-caption {
	margin-bottom: 26px;
}

.entry-meta {
	clear: both;
	color: $gray-dark;
	@include adjust-font-size-to(14px);
}

.entry-header .entry-meta {
	margin-bottom: 24px;
}

.entry-title {
	@include break-text();
}

.button,
.button.radius,
input[type="submit"] {
	@include button($padding: rem-calc(12), $radius: 1.5rem);
	border: 4px solid #DEE2E4;
	box-shadow: 0 1px 0 inset #8FD0E9;
	@include background-image(linear-gradient(#722222, #500000));
	&:hover {
		background-color: #500000;
		@include background-image(linear-gradient(#833333, #500000));
	}
	-webkit-background-clip: padding-box;
	-moz-background-clip:		padding;
	background-clip:				 padding-box;
}

.widget.widget_nav_menu {
	ol, ul {
		padding-left: 1rem;
		list-style-position: outside;
	}
	ol {
		list-style-type: decimal;
	}
	ul {
		list-style: disc;
	}
}

/* Entry Navigation
--------------------------------------------- */

.pagination {
	clear: both;
	@include adjust-font-size-to(14px);
	margin: 40px 0;

	li {
		display: inline;
		a {
			cursor: pointer;
			display: inline-block;
			padding: 8px 12px;

			&:hover {
			}
		}

		&.active a {
		}
	}
}

.page-template-flexiblecolumns .site-inner .content {
	header {
		margin-bottom: 1.875rem;
	}

	.columns {
		padding-bottom: 1.875rem;

		h3 {
			margin-top: 0;
		}
	}

	.flexiblecolumns .accordion-title {
		h2,
		h3,
		h4,
		h5,
		h6 {
			display: inline-block;
			margin-bottom: 0;
		}
	}
}

@media #{$small-up} {

}

@media #{$small-only} {

}

@media #{$medium-up} {

}

@media #{$medium-only} {

}

@media #{$large-up} {

}

@media #{$large-only} {

}

@media #{$xlarge-up} {

}

@media #{$xlarge-only} {

}

@media #{$xxlarge-up} {

}

@media #{$xxlarge-only} {

}
